<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.gemini.pojo.Student">
        <property name="name" value="Gemini"/>
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>GK</value>
                <value>AG</value>
                <value>ES</value>
            </array>
        </property>
        <property name="hobbies">
            <list>
                <value>Steam</value>
                <value>WeGame</value>
                <value>UbiSoft</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="1998" value="Year"/>
                <entry key="1106" value="Day"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>CSGO</value>
            </set>
        </property>
        <property name="wife">
            <null/>
        </property>
        <property name="info">
            <props>
                <prop key="driver">2020110275</prop>
                <prop key="url">男</prop>
                <prop key="username">root</prop>
                <prop key="password">root</prop>
            </props>
        </property>
    </bean>
    <!--    p命令空间注入，可以直接注入属性的值：properties-->
    <bean id="address" class="com.gemini.pojo.Address" p:address="Shandong"/>

<!--    <bean id="dog" class="com.gemini.pojo.Dog"/>-->
<!--    <bean id="cat" class="com.gemini.pojo.Cat"/>-->
<!--    <bean id="human" class="com.gemini.pojo.Human">-->
<!--        <property name="name" value="Gemini"/>-->
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--    </bean>-->


</beans>